.input-res {
  font-family: inherit;
  color: rgb(0, 0, 0);
  width: 80%;
  min-width: 100px;
  background-color: rgb(180, 179, 179);
  padding: 10px 11px 11px 11px;
  border-radius: 3px;
  box-shadow: none;
  outline: none;
  margin: 0.5rem 0;
  box-sizing: border-box;
  border: 1px solid #d4d4d4;
  flex: 0.7;
  margin-right: 10px;
}
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  color: white !important;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: white !important;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  color: white !important;
}
.css-heg063-MuiTabs-flexContainer {
  border-bottom: 1px solid #d4d4d4;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  color: black !important;
}
